<main>

    <div class="brand-theme">Anti Nihilism Fashion Brand</div>

    <div id="contents">
        <div class="article">
            <h1>- Contact -</h1>
            <div class="bg-rects">
                <div class="bg-rect"></div>
                <div class="bg-rect"></div>
                <div class="bg-rect"></div>
                <div class="bg-rect"></div>
                <div class="bg-rect"></div>
            </div>
            <label for="name">お名前<span class="required">必須</span></label>
                <input type="text" placeholder="お名前を入力してください">
            <label for="email">メールアドレス<span class="required">必須</span></label>
                <input type="text" placeholder="メールアドレスを入力してください">
            <label for="category">件名<span class="required">必須</span></label>
                <input type="text" placeholder="件名を入力してください">
            <label for="content">お問い合わせ内容<span class="required">必須</span></label>
                <textarea type="text" placeholder="お問い合わせ内容を入力してください"></textarea>
            <!--ボットチェック
                必要に応じて、会社名、所在地、お問い合わせに対する返信までの期間など、追加情報を入力する欄を用意
            -->
            <div class="btn" id="submit-btn"><a href="/">送信</a></div>
        </div>
    </div>

    <%= image_tag "/image/mid_main4.png", class:"footer-img", alt:"" %>
</main>