<footer>
	<%# <a href="/example" id="ft-center"> %>
	<a href="/doraemon" id="ft-center">
		<%#= image_tag "/image/maniacs.PNG", alt:"" %>
		<%# <div>MANIACS</div> %>
		<div>DORAEMON</div>
	</a>
	<%# <p>代表取締役: 駒井 隆司</p>
	<p>メール: hyakumangoku@gmail.com</p> %>
	<p>ドラえもんトーク</p>
	<p>dora.dora.do-ra-.do-ra-.@gmail.com</p>
	<ul class="follow-links">
		<li class="follow-link"><a href="https://twitter.com" target="_blank"><%= image_tag "/svg/twiiter_w.svg", alt:"", class:"icon" %></a></li>
		<li class="follow-link"><a href="https://ja-jp.facebook.com" target="_blank"><%= image_tag "/svg/facebook_w.svg", alt:"", class:"icon" %></a></li>
		<li class="follow-link"><a href="https://www.instagram.com" target="_blank"><%= image_tag "/svg/instagram_w.svg", alt:"", class:"icon" %></a></li>
		<li class="follow-link"><a href="https://line.me" target="_blank"><%= image_tag "/svg/line_w.svg", alt:"", class:"icon" %></a></li>
	</ul>
	<%# <small>(C) 2023 Maniacs.Inc All Rights Reserved.</small> %>
	<small>(C) 2023 Doraemon.Inc All Rights Reserved.</small>
</footer>